<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--suppress MybatisXMapperXmlInspection -->
<mapper namespace="com.msb.mapper.UserMapper">

    <resultMap id="users" type="userInfo">
        <id column="id" property="id"></id>
        <result column="username" property="userName"></result>
        <result column="password" property="password"></result>
        <result column="nickname" property="nickName"></result>
        <result column="photo" property="photoName"></result>
        <result column="filetype" property="fileType"></result>
    </resultMap>

    <insert id="addUserInfo">
        insert into player values(DEFAULT, #{userName}, #{password}, #{nickName}, #{photoName}, #{fileType})
    </insert>

    <select id="listInfo" resultMap="users">
        select * from player;
    </select>
</mapper>